<!-- Footer Start -->
{% load static %}
    {% if request.path != '/login' and request.path != '/signup' %}
    <div class="container-fluid text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <div class="footer-logo-wrapper"><img src="{% static 'img/logo.png' %}"></div>
                    </a>
                    <p class="mb-0">AI.video offers a seamless experience, empowering you to create captivating videos effortlessly with the power of artificial intelligence, revolutionizing your content creation process.</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="mb-4">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="mb-4">Popular Link</h5>
                    <a class="btn btn-link" href="{% url 'index' %}">AI.Video</a>
                    <a class="btn btn-link" href="{% url 'login' %}">Log In</a>
                    <a class="btn btn-link" href="{% url 'signup' %}">Sign Up</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                    <h5 class="mb-4">Our Services</h5>
                    <a class="btn btn-link" href="">Text Generation</a>
                    <a class="btn btn-link" href="">Video Creation</a>
                    <a class="btn btn-link" href="">Audio Synthesis</a>
                    <a class="btn btn-link" href="">Customization Options</a>
                    <a class="btn btn-link" href="">Advanced AI</a>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0 text-dark">&copy; <a class="border-bottom text-dark" href="#">AI Video</a>, All Right Reserved.</div>
                    {% comment %} <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Footer End -->