{% extends 'header.html' %}
{% load static %}
{% block content %}
  <body>
    <link href="{% static 'css/pricing.css' %}" rel="stylesheet">
    <!-- pricing content -->
    <div class="pricing-title-wrapper">
    	<h1 class="text-white mb-4 animated text-center ctm-text ft-s-ct">Your<span>AI co-pilot </span>for video creation</h1>
    </div>
    <div class="worko-tabs">
  
    <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
    <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />

    <div class="tabs flex-tabs">
    	<div class="btn-wrapper-tab">
        <label for="tab-one" id="tab-one-label" class="tab">Monthly</label>
        <label for="tab-two" id="tab-two-label" class="tab">Yearly</label>
        </div>


        <div id="tab-one-panel" class="panel active">
	        <div class="card-one">
	          	<div class="card-section-one">
		          	<h1>Free</h1>
		          	<p class="plan-short-detail">For anyone who wishes to try AI video creation</p>
		          	<h1>$0<span class="sm-ft">/mo*</span></h1>
		          	<div class="pd-tp-bt"></div>
		          	<button class="plan-btn">Try for free</button>
	          	</div>
	          	<div class="card-section-two">
	          		<div class="card-section-two-wrapper">
	          		<p><i class="fa-solid fa-check"></i> 10 mins/wk of AI generation</p>
	          		<p><i class="fa-solid fa-xmark"></i> iStock</p>
	          		</div>
	          	</div>
	        </div>
          	<div class="card-two">
	          	<div class="card-section-one">
		          	<h1>Plus</h1>
		          	<p class="plan-short-detail">For creators starting their journey</p>
		          	<h1>$25<span class="sm-ft">/mo*</span></h1>
		          	<div class="pd-tp-bt"></div>
                {% if request.session.email %}
		          	<form enctype="multipart/form-data" method="post" name="plus-monthly-pricing">
                  {% csrf_token %}
                  <input type="hidden" name="price_id" value="price_1P6QY7SGntvIRLFwrONFdJv6">
                  <button type="submit" class="btn btn-success plan-btn" href="{% url 'pricing' %}" data-bind-href="pricing">Plus</button>
                </form>
                {% else %}
                  <a href="{% url 'login' %}"><button type="submit" class="btn btn-success plan-btn" data-bind-href="pricing">Get Max</button> </a>
                {% endif %}
	          	</div>
	          	<div class="card-section-two">
	          		<div class="card-section-two-wrapper">
		          		<p><i class="fa-solid fa-check"></i> 10 mins/wk of AI generation</p>
		          		<p><i class="fa-solid fa-check"></i> iStock</p>
	          		</div>
	          	</div>
          	</div>
          	<div class="card-three">
	          	<div class="card-section-one">
		          	<h1>Max</h1>
		          	<p class="plan-short-detail">For growing & established creators</p>
		          	<h1>$55<span class="sm-ft">/mo*</span></h1>
		          	<div class="pd-tp-bt"></div>
                {% if request.session.email %}
		          	<form enctype="multipart/form-data" method="post" name="max-monthly-pricing">
                  {% csrf_token %}
                  <input type="hidden" name="price_id" value="price_1P6RImSGntvIRLFw7m6V9YkY">
                  <button type="submit" class="btn btn-success plan-btn" href="{% url 'pricing' %}" data-bind-href="pricing">Get Max</button>
                </form>
                {% else %}
                  <a href="{% url 'login' %}"><button type="submit" class="btn btn-success plan-btn" data-bind-href="pricing">Get Max</button> </a>
                {% endif %}
	          	</div>
	          	<div class="card-section-two">
	          		<div class="card-section-two-wrapper">
	          		<p><i class="fa-solid fa-check"></i> 10 mins/wk of AI generation</p>
	          		<p><i class="fa-solid fa-check"></i> iStock</p>
	          		</div>
	          	</div>
          	</div>
        </div>
        <!-- <div id="tab-two-panel" class="panel">
            <div>12</div>
          <div>22</div>
          <div>32</div>
        </div> -->
        <div id="tab-two-panel" class="panel">
	        <div class="card-one">
	          	<div class="card-section-one">
		          	<h1>Free</h1>
		          	<p class="plan-short-detail">For anyone who wishes to try AI video creation</p>
		          	<h1>$0<span class="sm-ft">/mo*</span></h1>
		          	<div class="pd-tp-bt"></div>
		          	<button class="plan-btn">Try for free</button>
	          	</div>
	          	<div class="card-section-two">
	          		<div class="card-section-two-wrapper">
	          		<p><i class="fa-solid fa-check"></i> 10 mins/wk of AI generation</p>
	          		<p><i class="fa-solid fa-xmark"></i> iStock</p>
	          		</div>
	          	</div>
	        </div>
          	<div class="card-two">
	          	<div class="card-section-one">
		          	<h1>Plus</h1>
		          	<p class="plan-short-detail">For creators starting their journey</p>
		          	<h1>$20<span class="sm-ft">/mo*</span></h1>
		          	<div class="pd-tp-bt"></div>
                {% if request.session.email %}
		          	<form enctype="multipart/form-data" method="post" name="plus-yearly-pricing">
                  {% csrf_token %}
                  <input type="hidden" name="price_id" value="price_1P6RYRSGntvIRLFwLZnK9RqA">
                  <button type="submit" class="btn btn-success plan-btn" href="{% url 'pricing' %}" data-bind-href="pricing">Get Max</button>
                </form>
                {% else %}
                  <a href="{% url 'login' %}"><button type="submit" class="btn btn-success plan-btn" data-bind-href="pricing">Get Max</button> </a>
                {% endif %}
	          	</div>
	          	<div class="card-section-two">
	          		<div class="card-section-two-wrapper">
		          		<p><i class="fa-solid fa-check"></i> 10 mins/wk of AI generation</p>
		          		<p><i class="fa-solid fa-check"></i> iStock</p>
	          		</div>
	          	</div>
          	</div>
          	<div class="card-three">
	          	<div class="card-section-one">
		          	<h1>Max</h1>
		          	<p class="plan-short-detail">For growing & established creators</p>
		          	<h1>$48<span class="sm-ft">/mo*</span></h1>
		          	<div class="pd-tp-bt"></div>
                {% if request.session.email %}
		          	<form enctype="multipart/form-data" method="post" name="max-yearly-pricing">
                  {% csrf_token %}
                  <input type="hidden" name="price_id" value="price_1P6Ra2SGntvIRLFwwSmvkNIT">
                  <button type="submit" class="btn btn-success plan-btn" href="{% url 'pricing' %}" data-bind-href="pricing">Get Max</button>
                </form>
                {% else %}
                  <a href="{% url 'login' %}"><button type="submit" class="btn btn-success plan-btn" data-bind-href="pricing">Get Max</button> </a>
                {% endif %}
	          	</div>
	          	<div class="card-section-two">
	          		<div class="card-section-two-wrapper">
	          		<p><i class="fa-solid fa-check"></i> 10 mins/wk of AI generation</p>
	          		<p><i class="fa-solid fa-check"></i> iStock</p>
	          		</div>
	          	</div>
          	</div>
        </div>
    </div>

	</div>
    <!-- end pricing content -->
  </body>
{% endblock %}
