<!-- work_space_history.html -->
{% extends 'header.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>WorkSpace History</h2>
        <ul>
            {% for entry in user_work_space_entries %}
                <li>
                    <p>User: {{ entry.user.name }}</p>
                    <p>Message: {{ entry.message }}</p>
                    <p>Generated Text: {{ entry.generated_text }}</p>
                    <p>Date Created: {{ entry.created_at }}</p>
                    <p>Video URL: <a href="{{ entry.video_url }}" target="_blank">{{ entry.video_url }}</a></p>
                    <!-- Add any other fields you want to display -->
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
