
{% load static %}
<head>
<!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/workSpace.css' %}" rel="stylesheet">
    <link href="{% static 'css/error_page.css' %}" rel="stylesheet">
</head>
<body style="background-color: black; color: white;">
 <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container" style="max-width: 1280px;">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <div class="navbar-logo-part">
                    <a href="{% url 'index' %}" class="navbar-brand">
                       <div class="logo-wrapper"> <img src="{% static 'img/logo.png' %}" /> </div>
                    </a>
                </div>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="profile-img-wrapper"></div>
                    <div id="profile-img-id" style="display: none;">{{user}}</div>
                    <div class="nav-item-hover-box" id="workspace-popup">
                        <div class="workspace-name">{{ workspace_name }}</div>
                        {% if request.session.email %}
                        <a href="{% url 'work_space' pk=user.pk %}" class="nav-item nav-link active">Create New</a>
                        <a href="{% url 'logout' %}" class="nav-item nav-link active">LogOut</a>
                        <div class="nav-item nav-link active name-of-plan" > {{ name_of_plan }} </div>
                        {% endif %}
                    </div>
                    <!-- <div class="navbar-nav ms-auto">
                        <span>Welcome, {{ workspace_name }}! You have successfully signed up.</span>
                        {% if request.session.email %}
                        <a href="{% url 'work_space' pk=1 %}" class="nav-item nav-link active">Create New</a>
                        <a href="{% url 'logout' %}" class="nav-item nav-link active">LogOut</a>
                        {% else %}
                        <a href="{% url 'signup' %}" class="nav-item nav-link active">SignUp</a>
                        <a href="{% url 'login' %}" class="nav-item nav-link active">LogIn</a>
                        {% endif %}
                        {% if request.session.email %}
                        {% for i in WorkSpace %}
                        <a href="{% url 'work_space' pk=i.pk %}" class="nav-item nav-link active">WorkSpace</a>
                        {% endfor %}
                        {% endif %}
                    </div> -->
                </div>
            </nav>
            <div class="hide-popup">
                <div class="popup-wrapper">
                    <div class="popup-inside-wrapper">
                        <div class="btn-wrapper">
                            <button class="btn-close-ct">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="nav-item-wrapper">
                            <div class="navbar-nav ms-auto">
                                <span>Welcome, {{ workspace_name }}! You have successfully signed up.</span>
                                {% if request.session.email %}
                                <a href="{% url 'work_space' pk=user.pk %}" class="nav-item nav-link active">Create
                                    New</a>
                                <a href="{% url 'logout' %}" class="nav-item nav-link active">LogOut</a>
                                {% else %}
                                <a href="{% url 'signup' %}" class="nav-item nav-link active">SignUp</a>
                                <a href="{% url 'login' %}" class="nav-item nav-link active">LogIn</a>
                                {% endif %}
                                {% if request.session.email %}
                                {% for i in WorkSpace %}
                                <a href="{% url 'work_space' pk=i.pk %}" class="nav-item nav-link active">WorkSpace</a>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ error_message }}</h3>
        <div class="link-redirect">Go to <a href="{% url 'work_space' pk=user.pk %}">Work Space</a></div>
        {% comment %} <div>Go to<a href="{% url '' pk=user.pk %}">home</a></div> {% endcomment %}
      </div>
      <div class="modal-body">
        <p>{{ error_message }}</p>
      </div>
    </div>
  </div>
</div>
{% comment %} <h3>{{ error_message }} Redirect to <a href="{% url 'work_space' pk=user.pk %}">Work Space</a></h3> {% endcomment %}

</body>