{% load static %} {% block body %}
<link href="{% static 'css/payment_page.css' %}" rel="stylesheet" />

<body style="background-color: whitesmoke">
  <div class="container home_msg">
    <div class="success-img-wrapper">
      <img src="{% static 'img/True-img.png' %}" />
    </div>
    <div class="text-wrapper">
      <h1 class="gree-ft">Yeah!</h1>
      <h1>Payment Successfull {{ customer.name }}</h1>
    </div>
  </div>
  <script>
    // Redirect to the homepage after 10 seconds
    setTimeout(function () {
      window.location.href = "{% url 'index' %}";
    }, 5000); // 10000 milliseconds = 10 seconds
  </script>
</body>

{% endblock %}
