/* CUSTOM CSS BY BT */

#forgot-pass {
  @media (min-width: 1024px) {
    .forgot-pass-header {
      .container {
        max-width: 2500px;
      }
    }
    .forgot-pass-main {
      max-width: 2500px !important;

      .container {
        height: 100vh;
        justify-content: center;
      }
    }
  }
}
